<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>users</title>
    <style>
      .szelesseg { width: 100px;text-align: center;}
     </style>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <table>
      <thead>
        <th>Name</th>
        <th>Gender</th>
        <th>Birth date</th>
        <th>Balance</th>
        <th>Is active</th>
      </thead>
      <tbody>
        <% for (let user of users) { %>
          <tr>
              <td class="szelesseg"><%= user.nameStr %></td>
              <td class="szelesseg">
                <i class="<% if (user.genderStr = "férfi") { %>
                  <%= "fa fa-mars" %> 
                <%} else { %>
                  <%= "fa fa-venus" %> 
                <% } %> "></i>
              </td>
              <td class="szelesseg"><%= user.birthDateStr %></td>
              <td class="szelesseg"><%= user.balanceNum %></td>
              <td class="szelesseg"><%= user.active %></td>
          </tr>
      <% } %>
      </tbody>
    </table>
  </body>
</html>